# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#temporary files
*~
partool
profile.txt
profile.pdf
gmon.out
graph.dot
graph.pdf
costs.txt
appData.txt

