# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#temporary files
*~
partool
profile.txt
profile.pdf
gmon.out
graph_*.dot
graph_*.pdf
costs_*.txt
output_*.txt
appData.txt

